body {
    margin: 0;
}

h1 {
    margin-top: 0;
}

div {
    height: 200px;
    width: 200px;
}

.top-container {
    background-color: burlywood;
}

.middle-container {
    background-color: crimson;
    
}

.bottom-container {
    background-color: darkblue;
}

.pro {
    text-decoration: underline;
}